
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css"; 



.btn-facebook {
    background-color: #405D9D;
    color: #fff;
    width: 380px;
    margin: auto;
    

}
.btn-twitter {
    width: 380px;
    background-color: #42AEEC;
    color: #fff;
  
    margin: auto;  
      
      

    
    
}
 
body  
{  
    margin: 0;  
    padding: 0x;  
    
    font-family: 'Arial';
    filter: blur(50%);

    
    
}  

.form{ 
    
    width: 400px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 400px;  
    padding: 50px;  
    border-radius: 15px ;  
    
    
      
}  
  
.form-group{  
    color: #08ffd1;  
    font-size: 17px;  
} 
.form-control {
    width: 250px;
}





